# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- none

resources:
- repo: self

variables:
  dockerRegistryServiceConnection: '13682e10-c572-4696-ab29-d68fca5c100e'
  imageRepository: 'frontend'
  containerRegistry: 'pratheekacrcapstone.azurecr.io'
  dockerfilePath: '**/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'pratheekacrcapstone1529a962-auth'

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: Default
    steps:
    - task: Maven@4
      inputs:
        azureSubscription: 'Subscription _ UST(1674f375-e996-4423-bd25-e0e8f6e76d13)'
        mavenPomFile: 'Backend-Java/Event_Managment/pom.xml'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        codeCoverageToolOption: 'JaCoCo'
        javaHomeOption: 'JDKVersion'
        mavenVersionOption: 'Default'
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false

- stage: TrivyScan
  displayName: Run Trivy Scan on Image
  dependsOn: Build
  jobs:
  - job: TrivyScan
    displayName: Scan Docker Image for Vulnerabilities
    pool:
      name: Default
    steps:
    - task: Bash@3
      displayName: "Install Trivy"
      inputs:
        targetType: inline
        script: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh

    - task: Bash@3
      displayName: "Run Trivy Scan"
      inputs:
        targetType: inline
        script: |
          ./bin/trivy image --severity HIGH,CRITICAL,MEDIUM --ignore-unfixed yogeshacr1.azurecr.io/yogeshacr1.azurecr.io/backend/event-management:58
          if [[ $? -ne 0 ]]; then
            echo "Trivy found vulnerabilities, failing the build."
            exit 1
          fi

- stage: Security_Scan
  displayName: 'Security scan with Snyk'
  dependsOn: Build
  jobs:
  - job: SecurityScan
    displayName: Run Snyk for SCM
    pool:
      name: Default
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '20.x'
      displayName: 'Ensure Node.js for Snyk'

    - script: |
        echo "Installing Snyk CLI..."
        npm install -g snyk
      displayName: 'Install Snyk CLI'

    - script: |
        echo "Authenticating with Snyk..."
        snyk auth $(SNYK_TOKEN)
      env:
        SNYK_TOKEN: $(SNYK_TOKEN)
      displayName: 'Authenticate Snyk'

    - script: |
        snyk test --all-projects --severity-threshold=medium --json > snyk-report.json
        cat snyk-report.json
      displayName: 'Run Snyk Test'

- stage: SonarCloudAnalysis
  displayName: 'SonarCloud Code Analysis'
  dependsOn: Build
  jobs:
  - job: AnalyzeBackendCode
    displayName: 'Analyze Java Backend with SonarCloud'
    pool:
      name: Default
    steps:
    - checkout: self

    - task: SonarCloudPrepare@3
      displayName: 'Prepare SonarCloud Analysis'
      inputs:
        SonarCloud: 'sonarsc'
        organization: 'devuser110591'
        scannerMode: 'CLI'
        configMode: 'manual'
        cliProjectKey: 'devuser110591_newprac'
        cliProjectName: 'newprac'
        cliSources: 'src/main/java'
        extraProperties: |
          sonar.junit.reportPaths=target/surefire-reports
          sonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml

    - task: Maven@4
      displayName: 'Run Maven Build & SonarCloud Analysis'
      inputs:
        mavenPomFile: 'Backend-Java/Event_Managment/pom.xml'
        goals: 'clean verify sonar:sonar'
        options: '-Dsonar.login=$(SONAR_TOKEN)'
        mavenAuthenticateFeed: false

    - task: SonarCloudPublish@3
      displayName: 'Publish SonarCloud Quality Gate'
      inputs:
        pollingTimeoutSec: '300'

    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

    - upload: manifests
      artifact: manifests

- stage: Deploy
  displayName: Deploy to AKS (capfrontend-8591)
  dependsOn: Build
  jobs:
  - deployment: Deploy
    displayName: Deploy
    pool:
      name: Default
    environment: 'capfrontend-8591.default'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: KubernetesManifest@0
            displayName: Create imagePullSecret
            inputs:
              action: createSecret
              secretName: $(imagePullSecret)
              dockerRegistryEndpoint: $(dockerRegistryServiceConnection)

          - task: KubernetesManifest@0
            displayName: Deploy to Kubernetes cluster
            inputs:
              action: deploy
              manifests: |
                $(Pipeline.Workspace)/manifests/deployment.yml
                $(Pipeline.Workspace)/manifests/service.yml
              imagePullSecrets: |
                $(imagePullSecret)
              containers: |
                $(containerRegistry)/$(imageRepository):$(tag)

- stage: Deploy2
  displayName: Deploy to AKS (capfrontend-8415)
  dependsOn: Build
  jobs:
  - deployment: Deploy
    displayName: Deploy
    pool:
      name: Default
    environment: 'capfrontend-8415.default'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: KubernetesManifest@0
            displayName: Create imagePullSecret
            inputs:
              action: createSecret
              secretName: $(imagePullSecret)
              dockerRegistryEndpoint: $(dockerRegistryServiceConnection)

          - task: KubernetesManifest@0
            displayName: Deploy to Kubernetes cluster
            inputs:
              action: deploy
              manifests: |
                $(Pipeline.Workspace)/manifests/deployment.yml
                $(Pipeline.Workspace)/manifests/service.yml
              imagePullSecrets: |
                $(imagePullSecret)
              containers: |
                $(containerRegistry)/$(imageRepository):$(tag)
